$def with (params)
<!DOCTYPE html>
<html lang='zh'>
	$:render.layout.header(params.entry.name)
<body>
	$:render.layout.navbar()
	<div id="content">
		<div class="container">
			<div class="row">
				<div class="span9">
					$:render.modules.entry(params.entry)
					<h3>$:render.modules.comment()	</h3>
				</div>
				<div class="span3">
					$:render.layout.three.primary(params.primary)
				</div>
			</div>
		</div>
	</div>
	$:render.misc.analytics()
	$:render.layout.footer()
</body>
</html>
