$def with (params)
<!DOCTYPE html>
<html lang='zh'>
	$:render.layout.header(config.name)
<body>
    $:render.layout.navbar()
	<div id="content">
		<div class="container">
			<div class="row">
				<div>
					<div id="excerpts">
					$for entry in params.entries:
						$:render.modules.excerpt(entry)
					</div>
					$:render.modules.pager(params.pager)
				</div>
			</div>
		</div>
	</div>
	$:render.layout.footer()
</body>
</html>

<!--http://caibaojian.com/bootstrap-mosonry.html-->