<div id="header">
    <nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">$config.name</a>
			</div>
			<div class="collapse navbar-collapse" id="example-navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="$config.tweet_url"><i class="icon-retweet icon-white"></i>Tweets</a></li>
					<li><a href="$config.archive_url"><i class="icon-book icon-white"></i>Archives</a></li>
					<li><a href="$config.category_url"><i class="icon-th-list icon-white"></i>category</a></li>
					<li><a href="$config.about_url"><i class="icon-user icon-white"></i>About</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							Friend Links <b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a href="http://www.ruanyifeng.com/home.html" target="_blank">阮一峰</a></li>
							<li><a href="http://coolshell.cn/" target="_blank">陈皓haoel</a></li>
							<li><a href="http://www.dbanotes.net/" target="_blank">冯大辉Fenng</a></li>
							<li><a href="http://robbin.iteye.com/" target="_blank">范凯robbin</a></li>
							<li><a href="http://www.eygle.com/" target="_blank">盖国强eygle</a></li>
							<li><a href="http://blog.csdn.net/tianlesoftware" target="_blank">David Dai</a></li>
							<li><a href="http://www.joelonsoftware.com/" target="_blank">Joel Spolsky</a></li>
							<li><a href="http://mindhacks.cn/" target="_blank">刘未鹏MindHacks</a></li>
							<li><a href="http://www.my1510.cn/author.php?roseluqiu" target="_blank">闾丘露薇</a></li>
							<li><a href="http://www.dapenti.com/blog/" target="_blank">铂程斋dapenti</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>

